@import url(/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: "Encode Sans";
}

body > *:not(:first-child) {
    margin-inline: 5vw;
}

#navbar ul {
    justify-content: flex-start;

}

#navbar ul li {
    margin-inline: 3em;
    font-weight: bold;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}

#navbar-PIPA-clickable img{
    width: 2rem;
}

#navbar-PIPA-clickable {
    font-size: 1.5em;
}

.hero {
    display: grid;
    grid-template-columns: 5fr 3fr;
}

.hero figure {
    background-color: blue;
}