@import url(/colors.css);
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    background-color: var(--black);
    color: var(--white);
    margin: 0;
    font-family: "Encode Sans";
}

.hero {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 45vh 40vh;
    background-image: linear-gradient(to bottom, var(--grayish-green), var(--grayish-green), var(--grayish-green), #00000000);
    height: 90vh;
    max-height: 90vh;
    text-align: center;
    overflow: hidden;
    padding-inline: 5vw;
}

.hero > * {
    margin: 5vh 0vh;
}

#header-title {
    width: 70%;
    font-size: 2em;
    margin-inline: auto;
}   

#header-title strong, #article-paragraph strong{
    color: #2E8E5A;
}

#header-description {
    font-size: 1em;
    width: 40%;
    margin-inline: auto;
    color: var(--off-white);
}

#header-button {
    background-color: #00000000;
    border: 2px solid #2E8E5A;
    text-decoration: none;
    border-radius: 12px;
    margin-block: 1em;
    padding: 1em 1.2em;
    font-weight: bold;
    font-size: 1em;
    color: #2E8E5A;
    display: inline-block;
    position: relative;
    transition: all 0.3s;
}

#header-button:hover {
    background-color: #2E8E5A;
    transform: translateY(-10%);
    color: var(--off-white);
}

#article-paragraph {
    text-align: left;
    font-size: 2em;
    width: 80%;
    margin-inline: auto;
}

.hero figure {
    margin: 0;
    display: flex;
    justify-content: center;
}

.hero figure img{
    height: 100%;
    width: auto;
    display: block;
    object-fit: cover;
    margin: 0;
    z-index: 1;
}

.hero figure::before {
    content: "";
    position: absolute;
    outline: 2px solid white;
    z-index: 0;
    margin-block: auto;
    transform: translateY(5vh);
    display: inline;
}

#hero-figure1::before{
    width: 15%;
    height: 40%;
}

#hero-figure2::before{
    width: 35%;
    height: 30%;
}
