#navbar {
    background-color:var(--white);
    color: var(--black);
    padding-block: 3vh;
    position: relative;
    width: 100%;
}

#navbar ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
}

#navbar ul li{
    font-weight: bold;
    margin-inline: 2em;
}

#navbar ul li img {
    width: 2rem;
    height: auto;
}

#navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
}

#navbar-PIPA-clickable {
    font-size: 1.5em;
}