* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(255, 255, 255);
}

.barra_naveg {
    background: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.pipa {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-inline: 2em;
    margin-right: 70%;
}

.logo_pipa {
    width: 2rem;
}

.logo_ifes {
    height: 70px;
    width: auto;
}

.menu {
    font-size: 22px;
    cursor: pointer;
    margin-right: 6%;
}

.banner {
    height: 120px;
    background: linear-gradient(90deg, #60c3b1, #5aaea3);
}

.perfil_aluno {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    background: #ffffff;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.editar_perfil {
    margin-right: 2%;
    height: 30px;
    cursor: pointer;
}

.nome {
    font-size: 28px;
}

.sair {
    margin-left: 75%;
    color: red;
    text-decoration: none;
    font-size: 14px;
}

.container{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:20px;
}

.card{
    background:white;
    border:1px solid #ccc;
    padding:20px;
    margin-right: 5%;
}

.detalhes{
    width:350px;
}

.detalhes h2{
    text-align:center;
}

.detalhes label{
    font-size:13px;
}

.detalhes input{
    width:100%;
    padding:5px;
    margin-bottom:10px;
    border:1px solid #ccc;
    border-radius:3px;
}

.botao{
    display:block;
    margin:auto;
    margin-top: 8%;
    padding:8px 20px;
    background:#2E8E5A;
    color:white;
    border:none;
    border-radius:5px;
    cursor: pointer;
}

.professores{
    width:300px;
    border:1px solid #ccc;
}

.professores h2{
    text-align:center;
}

.professor{
    display:flex;
    gap:10px;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
    align-items:center;
}

.professor img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.professor span{
    font-size:12px;
    color:#666;
}

.footer {
    background-color: #2D322F;
    padding: 2em;
    margin-top: 10em;
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 3em;
    align-items: flex-start;
}

.contact {
    flex: 1;
}

.social-media {
    flex: 1;
}