@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

.footer {
    background-color: #2D322F;
    padding: 1em;
    margin-top: 10em;
}

.home-login {
    font-family: "Encode Sans";
    background-color: #2E8E5A;

}
.side-image {
    max-width: 40%;
    height: auto;
    object-fit: cover;
    margin-right: 2rem;
}

.page-content {
    display: flex;
    align-items: center;
    justify-content: space-between; /* image left, form right */
    width: 100%;
    gap: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    margin-top: 2rem;
}

.form-login {
    background-color: #FAFAFA;
    padding: 4em 2em 60px;
    margin-top: 40px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 2px 2px 8px #272727;
    color: black;
    max-width: 480px;
    width: 35%;
    margin: 0;
    box-sizing: border-box;
    margin-right: 10em;
}

.button-login {
    background-color: #2E8E5A;
    border-radius: 2em;
    height: 6em;
    width: 100%;
    max-width: 24em;
    align-self: center;
    border-style: none;
    font-size: large;
    font-weight:800;
    color: #FAFAFA;
    transition: all 0.4s;
    margin:auto;
}

.button-login:hover {
    background-color: #2d8053;
    font-size: 110%;
    transition: all 0.4s;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container-inputs {
    display: flex;
    flex-direction: column;
    
}